//# IMPORTS ####################################################
@import 'app.variables';

//# BOX MODEL ##################################################

//## Mixin for apply flex properties to container.
//## PARAMETERS: flex-direction, align-items, justify-content, flex-wrap
@mixin createFlexBox($flexDirection, $alignItems, $justifyContent, $wrapMode) {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-flow: $flexDirection $wrapMode;
  -webkit-flex-direction: $flexDirection $wrapMode;
  -ms-flex-direction: $flexDirection $wrapMode;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  align-items: $alignItems;
  -webkit-align-items: $alignItems;
  -ms-flex-align: $alignItems;
  justify-content: $justifyContent;
  -webkit-justify-content: $justifyContent;
  @content;
}

//## Mixin for setting border radius.
//## PARAMETERS: border-radius
@mixin borderRadius($borderRadius){
  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  border-radius: $borderRadius;
  @content;
}

//# RESPONSIVE #################################################

//## Mixin for build @media query max width type.
//## PARAMETERS: max-width (without units)
@mixin mediaQuerySingle($screenWidth) {
  @media only screen and (max-width: $screenWidth) { @content; }
}

//## Mixin for build @media query between two values type.
//## PARAMETERS: max-width (without units), min-width (without units)
@mixin mediaQueryBetweenValues($screenWidthMax, $screenWidthMin) {
  @media only screen and (max-width: $screenWidthMax) and (min-width: $screenWidthMin) { @content; }
}
