//# Application variables

//# COLORS #####################################################
$appBackGroundColor: #f4f4f4;

//# BOX MODEL ##################################################
$scrollBarWidth: 15px;
$moviesGridSpaceBetweenCards: 30px;
$moviesGridItemImageWidth: 185px;
$moviesGridItemTextWidth: 295px;
$moviesGridItemTextPadding: 20px;
$moviesGridItemWidth: $moviesGridItemImageWidth + $moviesGridItemTextWidth;
$moviesGridItemHeight: 280px;

//# FONTS ######################################################
$globalFont: 'Ubuntu', sans-serif;
$globalFontColor: #4d4d4d;

//# @MEDIA QUERIES #############################################
$mediumScreen: ($moviesGridItemWidth * 2) + $moviesGridSpaceBetweenCards + $scrollBarWidth;
$smallScreen: $moviesGridItemWidth + $scrollBarWidth;
