//# Application variables

//# COLORS #####################################################
$appBackGroundColor: #f4f4f4;

//# BOX MODEL ##################################################
$moviesListSpaceBetweenCards: 30px;

//# FONTS ######################################################
$globalFont: 'Ubuntu', sans-serif;
$globalFontColor: #4d4d4d;
