//# IMPORTS ####################################################
@import 'app.mixins';
@import 'app.variables';

BODY {
  overflow: hidden;
  font-family: $globalFont;
  font-size: 1rem;
  color: $globalFontColor;
  background-color: $appBackGroundColor;
  BUTTON, A {
    outline: 0;
  }
  A:hover {
    text-decoration: none;
  }

  .mp-bolder {
    font-weight: bolder;
  }
  .mp-title {
    font-size: 1.3rem;
    font-weight: bolder;
    color: black;
  }
  .mp-reduced-text-block {
    font-size: 0.8rem;
  }
}
